.page-404
    background-color: $corporate-red
    .page-404-content
        background-image: url(../images/svg/404.svg)
        background-position: top center
        background-repeat: no-repeat
        background-size: 125%
        height: 545px
        h1
            color: $corporate-white
            text-align: left
            padding: 120px 0px 40px
        p
            color: $corporate-white
            text-align: left
            padding: 0px