/**
	Error 404 page styles for the UaPay website project
	Version: 1.0
	Created: 10.12.2019
	Author: Serhii Tiutin
	Modified by: Serhii Tiutin
	Owner: UaPay
	Website: https://uapay.ua/
	*/

.page-404
	background-color: $corporate-red
	background-image: url(../../assets/images/home-page/first-screen-background.svg)
	background-position: top center
	background-repeat: no-repeat
	background-size: 100% 100%
	.red-header
		background: transparent
	.page-404-content
		height: 545px
		opacity: 1
		animation-name: fadeInOpacity
		animation-iteration-count: 1
		animation-timing-function: ease-in
		animation-duration: 1000ms
		h1
			color: $corporate-white
			text-align: left
			padding: 120px 0px 40px
		p
			color: $corporate-white
			text-align: left
			padding: 0px
		.action-btn
			padding-top: 15px
			span
				color: $corporate-white
			i
				svg
					#rounded-1
						stroke: $corporate-white
					#rounded-2
						fill: $corporate-white