.fines-page
	.fines-content
		.first-block
			background-color: $corporate-white
			padding: 80px 0px
			.flex-block
				display: flex
				flex-direction: row
				justify-content: space-between
				align-items: flex-start
				.flex-left
					width: 100%
					max-width: 520px
					padding: 0px 40px 0px 0px
					h3
						padding-top: 0px
				.flex-right
					width: 100%
					max-width: 480px
					padding: 0px
					label
						color: $corporate-dim-gray
						font-size: 12px
						line-height: 16px
						font-family: $primary-regular
						font-weight: $regular-weight
					.form-control
						background-color: transparent
						color: $corporate-accent-black
						border: 0
						border-bottom: 1px solid #D7DAE3
						border-radius: 0
						font-size: 14px
						line-height: 26px
						font-family: $primary-medium
						font-weight: $medium-weight
						padding: 4px 0px 7px
						&:focus
							color: $corporate-accent-black
							background-color: transparent
							border-color: none
							border-bottom: 1px solid #D7DAE3
							outline: 0
							box-shadow: none
						&::placeholder
							color: $corporate-accent-black
							opacity: 1
						&:-ms-input-placeholder
							color: $corporate-accent-black
						&::-ms-input-placeholder
							color: $corporate-accent-black
					input[type="submit"]
						color: $corporate-white
						font-family: $primary-bold
						font-weight: $bold-weight
						font-size: 16px
						line-height: 20px
						margin-top: 30px
						padding: 14px 45px
						background-color: $corporate-red
						border-radius: $primary-radius
						text-transform: uppercase
						border: 2px solid $corporate-red
						&:focus
							outline: none
						&:hover
							color: $corporate-red
							background-color: $corporate-white
							border-color: $corporate-red
		.last-block
			background-color: $corporate-gainsboro
			padding: 130px 0px 120px
			.flex-block
				display: flex
				flex-direction: row
				justify-content: space-between
				align-items: flex-start
				flex-wrap: wrap
				padding: 0px 0px 120px
				.flex-item
					width: 100%
					max-width: 320px
					text-align: center
			.steps-block-desktop
				.img-wrapper
					position: relative
					padding-bottom: 180px
					h3
						max-width: 445px
						position: absolute
						top: -35px
						left: 0px
						padding: 0px
					.num-wrapper
						position: absolute
						.num
							border-radius: 50%
							background-color: $corporate-red
							color: $corporate-white
							font-size: 34px
							line-height: 34px
							font-weight: $bold-weight
							font-family: $primary-bold
							width: 60px
						p
							font-family: $primary-medium
							font-weight: $medium-weight
							font-size: 18px
							line-height: 32px
							color: $corporate-accent-black
							padding: 20px 0px 0px
							&.desc
								font-family: $primary-regular
								font-weight: $regular-weight
								font-size: 14px
								line-height: 20px
								color: $corporate-gray
								padding: 20px 0px 0px
						&.num-wrapper-1
							top: -28px
							left: 479px
							.num
								padding: 13px 22px
						&.num-wrapper-2
							top: 225px
							left: 103px
							.num
								padding: 13px 19px
						&.num-wrapper-3
							top: 225px
							left: 600px
							.num
								padding: 13px 19px
			.steps-block-tablet
				display: none
				h3
					font-size: 28px
					line-height: 36px
					margin-bottom: 40px
				.img-wrapper
					position: relative
					padding-bottom: 180px
					.num-wrapper
						position: absolute
						.num
							border-radius: 50%
							background-color: $corporate-red
							color: $corporate-white
							font-size: 28px
							line-height: 28px
							width: 54px
							font-weight: $bold-weight
							font-family: $primary-bold
						p
							font-family: $primary-medium
							font-weight: $medium-weight
							font-size: 16px
							line-height: 24px
							padding-top: 10px
							color: $corporate-accent-black
							max-width: 320px
							&.desc
								font-family: $primary-regular
								font-weight: $regular-weight
								font-size: 14px
								line-height: 20px
								color: $corporate-gray
								padding: 20px 0px 0px
						&.num-wrapper-1
							top: -28px
							left: 14px
							.num
								padding: 13px 22px
						&.num-wrapper-2
							top: -28px
							left: 354px
							.num
								padding: 13px 19px
						&.num-wrapper-3
							top: 161px
							left: 227px
							.num
								padding: 13px 19px
							p
								max-width: 100%
								&.desc
									padding-top: 0px
			.steps-block-mobile
				display: none
				padding-bottom: 150px
				.img-wrapper
					position: relative
					padding-bottom: 120px
					img
						position: absolute
						top: 15px
						left: 18px
						z-index: 0
					.num-wrapper
						position: absolute
						display: flex
						z-index: 1
						.num
							border-radius: 50%
							background-color: $corporate-red
							color: $corporate-white
							font-size: 24px
							line-height: 24px
							width: 40px
							height: 40px
							font-weight: $bold-weight
							font-family: $primary-bold
						p
							font-family: $primary-medium
							font-weight: $medium-weight
							font-size: 16px
							line-height: 24px
							padding: 0px 0px 0px 20px
							color: $corporate-accent-black
							max-width: 100%
							&.desc
								font-family: $primary-regular
								font-weight: $regular-weight
								font-size: 14px
								line-height: 20px
								color: $corporate-gray
								padding: 10px 0px 0px 20px
						&.num-wrapper-1
							top: 0px
							left: 0px
							.num
								padding: 8px 16px
						&.num-wrapper-2
							top: 90px
							left: 0px
							.num
								padding: 8px 13px
						&.num-wrapper-3
							top: 180px
							left: 0px
							.num
								padding: 8px 13px
							.flex-block
								display: flex
								flex-direction: column
								p
									max-width: 100%
									&.desc
										padding-top: 0px