a.action-btn.animated.fadeIn(href="https://uapayua.atlassian.net/wiki/spaces/AC/pages/753795086", target="_blank", data-id='1')
	span #{$i18n.buttonComponents.developersBtn}
	i.animatedParent
		include ../../includes/svg/_rounded.pug