a.action-btn.animated.fadeIn(href="https://account.uapay.ua/auth/register", target="_blank", data-id='1')
	span #{$i18n.buttonComponents.joinNowBtn}
	i.animatedParent
		include ../../includes/svg/_rounded.pug