a.action-btn.animated.fadeIn(href="https://business.uapay.ua/about/contacts", target="_blank", data-id='1')
	span #{$i18n.buttonComponents.partnershipBtn}
	i.animatedParent
		include ../../includes/svg/_rounded.pug