//-
	Error 404 page markup for the UaPay website project
	Version: 1.0
	Created: 10.12.2019
	Author: Serhii Tiutin
	Modified by: Serhii Tiutin
	Owner: UaPay
	Website: https://uapay.ua/

extends layouts/_layout.pug

block meta-data
	+meta-data(
	'Website title', 
	'Website description', 
	'https://uapay.ua/404'
	)

block header
	+header('red-header')

block mobile-menu
	+mobile-menu('mobile-menu-red')

block main-content
	.page-404
		.container.main-container
			.page-404-content
				h1 404
				p #{$i18n.page404.p1}
				p #{$i18n.page404.p2}