//-
	Error 404 page markup for the UaPay website project
	Version: 1.0
	Created: 10.12.2019
	Author: Serhii Tiutin
	Modified by: Serhii Tiutin
	Owner: UaPay
	Website: https://uapay.ua/

extends layouts/_layout.pug

block meta-data
	title #{$i18n.page404.metaTitle}
	meta(name="description", lang="uk", content="404")
	meta(name="description", lang="ru", content="404")
	meta(name="description", lang="en", content="404")
	meta(property="og:title", lang="uk", content="404")
	meta(property="og:title", lang="ru", content="404")
	meta(property="og:title", lang="en", content="404")
	meta(property="og:description", lang="uk", content="404")
	meta(property="og:description", lang="ru", content="404")
	meta(property="og:description", lang="en", content="404")

block mobile-menu
	+mobile-menu('mobile-menu-red')

block main-content
	.page-404
		block header-404
			+header('red-header')
		.container.main-container
			.page-404-content
				h1 404
				p #{$i18n.page404.p1}
				p #{$i18n.page404.p2}
				include includes/components/_home-page-btn.pug