//-
	Financial statements page markup for the UaPay website project
	Version: 1.0
	Created: 10.12.2019
	Author: Serhii Tiutin
	Modified by: Serhii Tiutin
	Owner: UaPay
	Website: https://uapay.ua/

extends layouts/_layout.pug

block meta-data
	+meta-data(
	'Website title', 
	'Website description', 
	'https://uapay.ua/financial-statements'
	)

block header
	+header('black-header')

block mobile-menu
	+mobile-menu('mobile-menu-black')

block main-content
	.inner-page-wrapper.financial-report-page
		.intro-block.black-intro-block
			.container.main-container
				h3 #{$i18n.financialStatements.pageHeadline}
		.financial-report-content
			.container.main-container
				h5 #{$i18n.financialStatements.pageHeadline} 2018
				a.financial-report-link(href="javascript:void(0);", target="_blank")
					img(src="../assets/images/download-black.png", alt="Image")
					span Звіт про власний капітал
				a.financial-report-link(href="javascript:void(0);", target="_blank")
					img(src="../assets/images/download-black.png", alt="Image")
					span Звіт про рух грошових коштів
				a.financial-report-link(href="javascript:void(0);", target="_blank")
					img(src="../assets/images/download-black.png", alt="Image")
					span Звіт про фінансові результати
				a.financial-report-link(href="javascript:void(0);", target="_blank")
					img(src="../assets/images/download-black.png", alt="Image")
					span Баланс
				a.financial-report-link(href="javascript:void(0);", target="_blank")
					img(src="../assets/images/download-black.png", alt="Image")
					span Примітки
				a.financial-report-link(href="javascript:void(0);", target="_blank")
					img(src="../assets/images/download-black.png", alt="Image")
					span Звіт незалежного аудитора
				hr
				h5 #{$i18n.financialStatements.pageHeadline} 2017
				a.financial-report-link(href="javascript:void(0);", target="_blank")
					img(src="../assets/images/download-black.png", alt="Image")
					span Звіт про власний капітал
				a.financial-report-link(href="javascript:void(0);", target="_blank")
					img(src="../assets/images/download-black.png", alt="Image")
					span Звіт про рух грошових коштів
				a.financial-report-link(href="javascript:void(0);", target="_blank")
					img(src="../assets/images/download-black.png", alt="Image")
					span Звіт про фінансові результати
				a.financial-report-link(href="javascript:void(0);", target="_blank")
					img(src="../assets/images/download-black.png", alt="Image")
					span Баланс
				a.financial-report-link(href="javascript:void(0);", target="_blank")
					img(src="../assets/images/download-black.png", alt="Image")
					span Примітки
				a.financial-report-link(href="javascript:void(0);", target="_blank")
					img(src="../assets/images/download-black.png", alt="Image")
					span Звіт незалежного аудитора
				hr
				h5 #{$i18n.financialStatements.pageHeadline} 2016
				a.financial-report-link(href="javascript:void(0);", target="_blank")
					img(src="../assets/images/download-black.png", alt="Image")
					span Звіт про власний капітал
				a.financial-report-link(href="javascript:void(0);", target="_blank")
					img(src="../assets/images/download-black.png", alt="Image")
					span Звіт про рух грошових коштів
				a.financial-report-link(href="javascript:void(0);", target="_blank")
					img(src="../assets/images/download-black.png", alt="Image")
					span Звіт про фінансові результати
				a.financial-report-link(href="javascript:void(0);", target="_blank")
					img(src="../assets/images/download-black.png", alt="Image")
					span Баланс
				a.financial-report-link(href="javascript:void(0);", target="_blank")
					img(src="../assets/images/download-black.png", alt="Image")
					span Примітки
				a.financial-report-link(href="javascript:void(0);", target="_blank")
					img(src="../assets/images/download-black.png", alt="Image")
					span Звіт незалежного аудитора