//-
	Industry solutions page markup for the UaPay website project
	Version: 1.0
	Created: 10.12.2019
	Author: Serhii Tiutin
	Modified by: Serhii Tiutin
	Owner: UaPay
	Website: https://uapay.ua/

extends layouts/_layout.pug

block meta-data
	+meta-data(
	'Website title',
	'Website description', 
	'https://uapay.ua/'
	)

block header
	+header('red-header')

block mobile-menu
	+mobile-menu('mobile-menu-red')

block main-content
	.inner-page-wrapper.industry-solutions-page
		.intro-block.red-intro-block
			.container.main-container
				h1 Отраслевые решения
				.scroll-menu
					ul
						li#first-trigger Маркетплейсы
						li#second-trigger Онлайн-ритейл
						li#third-trigger Туризм
						li#fourth-trigger Сервисы такси
						li#fifth-trigger Микрокредиты
		.industry-solutions-content
			.first-block
				.container
					.solution-item#first-block
						.top-half
							.flex-left
								h4.animated.fadeInLeft.delay-1s.slower Маркетплейсы
							.flex-right
								p.animated.fadeInRight.delay-1s.slower Мгновенное разделение платежа по разным получателям при оплате заказа от нескольких поставщиков. По итогам проведения расчетов, вы получите подробный отчет о проведенных платежах.
						.bottom-half
							.flex-left
								include includes/svg/industry-solutions/_marketplaces.pug
							.flex-right
								dl.animated.fadeInRight.delay-1s.slower
									dt Для маркетплейса
									dd Возможность сфокусироваться на расширении ассортимента и качестве обслуживания клиентов, экономия времени на расчете с поставщиками.
									dt Для торговца
									dd Максимально быстрые сроки получения денежных средств, за проданный товар на маркетплейсе, минимизируют кассовый разрыв.
					.solution-item#second-block
						.top-half
							.flex-left
								h4.animated.fadeInLeft.delay-1s.slower Онлайн-ритейл
							.flex-right
								p.animated.fadeInRight.delay-1s.slower Добавьте дополнительную ценность вашему интернет магазину, принимая к оплате банковские карты онлайн, делая моментальные возвраты если товара нет на складе или он не подошел, и обеспечивая гарантию доставки товара.
						.bottom-half
							.flex-left
								include includes/svg/industry-solutions/_online-retail.pug
							.flex-right
								dl.animated.fadeInRight.delay-1s.slower
									dt Для торговца
									dd Наша разработка "Plug-n-Pay" позволит вам, начать принимать платежи за 1 день. Никакой бумажной волокиты, потери времени и денег!
									dt Для покупателя
									dd Гарантия сохранности денег и защиты персональных данных, обеспечена стандартами безопасности PCI DSS 3.1, требованиями GDPR и финансовой лицензией НБУ.
					.solution-item#third-block
						.top-half
							.flex-left
								h4.animated.fadeInLeft.delay-1s.slower Туризм
							.flex-right
								p.animated.fadeInRight.delay-1s.slower Наш комплекс платежных услуг, позволит вам сократить операционные издержки, при расчетах с партнерами, и приеме платежей от путешественников.
						.bottom-half
							.flex-left
								include includes/svg/industry-solutions/_tourism.pug
							.flex-right
								dl.animated.fadeInRight.delay-1s.slower
									dt Для турагентства
									dd Теперь вы сможете выставить счет на оплату, и отправить по почте, Viber,  Whatsapp или через любой другой мессенджер, сразу после звонка. Или, пока турист ознакамливается с деталями тура, у вас в офисе.
									dt Для путешественника
									dd Возможность оплатить путевку сразу с мобильного, экономя время на поиски терминала или ввода номера карты для перевода денег. Дополнительная степень защиты платежной страницы, увеличит лояльность туриста.
					.solution-item#fourth-block
						.top-half
							.flex-left
								h4.animated.fadeInLeft.delay-1s.slower Сервисы такси
							.flex-right
								p.animated.fadeInRight.delay-1s.slower Автоматизируйте платежи для вашего таксопарка, принимая платежи от пассажиров и моментально рассчитываясь с вашими водителями, на банковскую карту.
						.bottom-half
							.flex-left
								include includes/svg/industry-solutions/_taxi.pug
							.flex-right
								dl.animated.fadeInRight.delay-1s.slower
									dt Для пассажира
									dd С нашей технологией хранения карт, пассажир сможет один раз добавить карту в кабинет пассажира и оплачивать поездки без лишних действий.
									dt Для водителя
									dd Возможность получать вознаграждения за поездку, в любое удобное время, и на любую свою привязанную банковскую карту в кабинете водителя.
					.solution-item#fifth-block
						.top-half
							.flex-left
								h4.animated.fadeInLeft.delay-1s.slower Микрокредиты
							.flex-right
								p.animated.fadeInRight.delay-1s.slower Выдавать займы на банковские карты и принимать погашения дистанционно, существенно сократят ваши издержки на обслуживании физических точек и позволят ускорить процесс обслуживания клиентов.
						.bottom-half
							.flex-left
								include includes/svg/industry-solutions/_money.pug
							.flex-right
								dl.animated.fadeInRight.delay-1s.slower
									dt Для организации
									dd Наличие личного кабинета, упрощает процесс мониторинга за платежами, а также выдачу займа, как одному заемщику так и сотням сразу.
									dt Для заемщика
									dd Моментальное зачисление на банковскую карту, позволяет сразу же воспользоваться средствами для своих нужд, и осуществить его погашение, без просрочек и дополнительных комиссий.
			block developers-block
				+developers