//-
	UAPAY info page markup for the UaPay website project
	Version: 1.0
	Created: 10.12.2019
	Author: Serhii Tiutin
	Modified by: Serhii Tiutin
	Owner: UaPay
	Website: https://uapay.ua/

extends layouts/_layout.pug

block meta-data
	+meta-data(
	'Website title', 
	'Website description', 
	'https://uapay.ua/info-uapay'
	)

block header
	+header('black-header')

block mobile-menu
	+mobile-menu('mobile-menu-black')

block main-content
	.inner-page-wrapper.uapay-info-page
		.intro-block.black-intro-block
			.container.main-container
				h3 Інформація про фінансову установу.
					br
					| ТОВ «ФК ЮАПЕЙ»
		.uapay-info-page-content
			.container
				.content-line
					.flex-left
						p
							b Повне найменування юридичної особи
					.flex-right
						p ТОВАРИСТВО З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ "ФІНАНСОВА КОМПАНІЯ ЮАПЕЙ"
				.content-line
					.flex-left
						p
							b Код за ЄДРПОУ
					.flex-right
						p 39407959
				.content-line
					.flex-left
						p
							b Інформація про місцезнаходження:
					.flex-right
						p Код території за КОАТУУ 8038000000
						p 04205
						p КИЇВ
						p Оболонський Проспект
						p Будинок 35
						p Поштова адреса відповідає місцезнаходженню
						p Контактний телефон: 
							a(href="tel:(044) 364 11 44") (044) 364 11 44
						p Адреса електронної пошти: 
							a(href="mailto:info@uapay.ua") info@uapay.ua
				h6 Види фінансових послуг
				ul
					li Надання гарантій та поручительств
					li Надання послуг з факторингу
					li Переказ коштів у національній валюті без відкриття рахунків
				h6 Переказ коштів у національній валюті без відкриття рахунків
				ul
					li Внутрішньодержавна платіжна система переказу коштів «ЮАПЕЙ», Платіжна організація: ТОВ «ФК ЮАПЕЙ», місцезнаходження: 04205, м. Київ, пр. Оболонський, буд. 35.
					li Внутрішньодержавна платіжна система переказу коштів «FLASHPAY», Платіжна організація: ПАТ «БАНК ФАМІЛЬНИЙ», місцезнаходження: 03039, м. Київ, Голосіївський проспект, будинок 26а.
				h6 Відомості про власників істотної участі:
				p (відомості про учасників які володіють часткою, що становить не менш як 10 відсотків статутного капіталу)
				.table-responsive
					table
						thead
							tr
								th(width="33%") Повне найменування юридичних осіб – учасників фінансової компанії
								th(width="33%") Код за ЄДРПОУ юридичних осіб – учасників фінансової компанії
								th(width="33%") Частка учасників заявника в статутному капіталі заявника, %
						tbody
							tr
								td ТОВАРИСТВО З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ "СОФТІНВЕСТ ХОЛДИНГ"
								td 39397815
								td 85
							tr
								td ЗІНЧЕНКО ОЛЕКСАНДР ВІКТОРОВИЧ
								td -
								td 15
				h6 Інформація про юридичних або фізичних осіб, які здійснюють контроль за юридичними особами – учасниками юридичної особи
				p (які володіють часткою, що становить не менш як 10 відсотків статутного капіталу заявника)
				.table-responsive
					table
						thead
							tr
								th(width="10%") № з/п
								th(width="35%") Повне найменування юридичних осіб – учасників фінансової компанії
								th(width="35%") Повне найменування юридичної особи або прізвище, ім’я, по батькові фізичної особи, що здійснює контроль за учасником
								th(width="20%") Частка у статутному капіталі учасника, %
						tbody
							tr
								td 1
								td ТОВАРИСТВО З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ "СОФТІНВЕСТ ХОЛДИНГ"
								td Зарахович Анатолій Йосипович
								td 38
							tr
								td 2
								td ТОВАРИСТВО З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ "СОФТІНВЕСТ ХОЛДИНГ"
								td Зарахович Дмитро Анатолійович
								td 62
				h6 Відомості про керівника юридичної особи
				p Директор: Зарахович Анатолій Йосипович
				h6 Відомості про ліцензії та дозволи, видані фінансовій установі
				ul
					li
						p Національним банком України видано ліцензію на переказ коштів у національній валюті без відкриття рахунків
						p Дата видачі та початку дії ліцензії: 09.12.2015
						p Номер ліцензії: 30
						p Статус ліцензії: діюча
					li
						p Національною комісією, що здійснює державне регулювання у сфері ринків фінансових послуг видано Ліцензію для здійснення діяльності з надання гарантій та поручительств
						p Дата видачі та початку дії ліцензії: 27.04.2017
						p Номер ліцензії: б/н
						p Статус ліцензії: діюча
					li
						p Національною комісією, що здійснює державне регулювання у сфері ринків фінансових послуг видано Ліцензію для здійснення діяльності з надання послуг з факторингу
						p Дата видачі та початку дії ліцензії: 01.06.2017
						p Номер ліцензії: б/н
						p Статус ліцензії: діюча
				hr