//-
	Legal info page markup for the UaPay website project
	Version: 1.0
	Created: 10.12.2019
	Author: Serhii Tiutin
	Modified by: Serhii Tiutin
	Owner: UaPay
	Website: https://uapay.ua/

extends layouts/_layout.pug

block meta-data
	+meta-data(
	'Правова інформація — UAPAY', 
	'Тут ви знайдете всю необхідну правову інформацію про компанію UAPAY.', 
	'https://uapay.ua/legal-info'
	)

block header
	+header('black-header')

block mobile-menu
	+mobile-menu('mobile-menu-black')

block main-content
	.inner-page-wrapper.legal-page
		.intro-block.black-intro-block
			.container.main-container
				h3 #{$i18n.legalInfo.pageHeadline}
		.legal-page-content.black-page-content
			.container.main-container.animatedParent.animateOnce(data-sequence='200')
				a.special-link.animated.fadeIn(href="terms-of-use", data-id='1')
					span Умови надання сервісу
					include includes/svg/_arrow-right.pug
				a.special-link.animated.fadeIn(href="transfer-supply-conditions", data-id='2')
					span Умови надання переказів
					include includes/svg/_arrow-right.pug
				a.special-link.animated.fadeIn(href="info-uapay", data-id='3')
					span Інформація про фінансову установу. ТОВ 
						q ФК ЮАПЕЙ
					include includes/svg/_arrow-right.pug
				a.special-link.animated.fadeIn(href="financial-statements", data-id='4')
					span Фінансова звітність. ТОВ 
						q ФК ЮАПЕЙ
					include includes/svg/_arrow-right.pug
				a.special-link.animated.fadeIn(href="info-aihama", data-id='5')
					span Інформація про фінансову установу. ТОВ 
						q АЙГАМА
					include includes/svg/_arrow-right.pug
				a.special-link.animated.fadeIn(href="privacy-policy", data-id='6')
					span EU / EEA Політика конфіденційності
					include includes/svg/_arrow-right.pug
				a.special-link.animated.fadeIn(href="website-modus-operandi", data-id='7')
					span Порядок роботи з веб-сайтами
					include includes/svg/_arrow-right.pug
				a.special-link.animated.fadeIn(href="cookies-policy", data-id='8')
					span Політика роботи з cookies
					include includes/svg/_arrow-right.pug