//-
	News page markup for the UaPay website project
	Version: 1.0
	Created: 10.12.2019
	Author: Serhii Tiutin
	Modified by: Serhii Tiutin
	Owner: UaPay
	Website: https://uapay.ua/

extends layouts/_layout.pug

block meta-data
	+meta-data(
	'Website title', 
	'Website description', 
	'https://uapay.ua/news'
	)

block header
	+header('red-header')

block mobile-menu
	+mobile-menu('mobile-menu-red')

block main-content
	.inner-page-wrapper.news-page
		.intro-block.red-intro-block
			.container.main-container
				h1 Новини
		.news-page-content
			.container.main-container
				.news-list.row.animatedParent.animateOnce(data-sequence='200')
					a.news-item.col-xl-3.col-lg-4.col-md-6.col-sm-6.col-xs-12.animated.fadeIn(href="post", data-id='1')
						span.news-date 12 грудня 2019
						h6.news-title Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore quasi, veritatis corporis obcaecati culpa, officia rerum ducimus aliquam voluptates dicta id, exercitationem modi. Accusamus possimus recusandae impedit fugit. Ut, quidem!
						p.news-description Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione ipsa neque inventore necessitatibus sed itaque veritatis fuga natus corrupti, officia similique recusandae quisquam ipsam id? Iure deleniti ea vel dolore.
					a.news-item.col-xl-3.col-lg-4.col-md-6.col-sm-6.col-xs-12.animated.fadeIn(href="post", data-id='2')
						span.news-date 12 грудня 2019
						h6.news-title Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla officiis totam nostrum enim necessitatibus? Deleniti veniam odio amet facilis. Error suscipit odio iste quia facilis ea dolorum sequi, at sunt!
						p.news-description Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat recusandae vel dolore enim, eveniet qui nesciunt? Tenetur, nostrum voluptatum nulla blanditiis numquam ullam fugit quae expedita voluptatem dignissimos autem provident!
					a.news-item.col-xl-3.col-lg-4.col-md-6.col-sm-6.col-xs-12.animated.fadeIn(href="post", data-id='3')
						span.news-date 12 грудня 2019
						h6.news-title Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi possimus ad quasi culpa exercitationem necessitatibus voluptatem fugiat ratione nulla, nesciunt at, neque eum sunt, asperiores iusto ducimus. Libero, cum earum.
						p.news-description Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia cumque non dolorem, laborum, incidunt molestiae omnis molestias cum quisquam voluptatum dolores deleniti quibusdam ipsum illum eius placeat ad architecto! Neque?
					a.news-item.col-xl-3.col-lg-4.col-md-6.col-sm-6.col-xs-12.animated.fadeIn(href="post", data-id='4')
						span.news-date 12 грудня 2019
						h6.news-title Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus recusandae eligendi dolorum! Aperiam sit vitae soluta voluptates dignissimos, explicabo animi autem, recusandae ipsam, perspiciatis consectetur labore vel dolore. Natus, eligendi!
						p.news-description Lorem ipsum dolor sit amet consectetur adipisicing elit. Error dolore repudiandae recusandae quia, consequuntur eaque amet voluptas in qui vitae deleniti, fuga minima. Perferendis, nisi dolorem officia quo voluptatibus vel.
					a.news-item.col-xl-3.col-lg-4.col-md-6.col-sm-6.col-xs-12.animated.fadeIn(href="post", data-id='5')
						span.news-date 12 грудня 2019
						h6.news-title Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore quasi, veritatis corporis obcaecati culpa, officia rerum ducimus aliquam voluptates dicta id, exercitationem modi. Accusamus possimus recusandae impedit fugit. Ut, quidem!
						p.news-description Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione ipsa neque inventore necessitatibus sed itaque veritatis fuga natus corrupti, officia similique recusandae quisquam ipsam id? Iure deleniti ea vel dolore.
					a.news-item.col-xl-3.col-lg-4.col-md-6.col-sm-6.col-xs-12.animated.fadeIn(href="post", data-id='6')
						span.news-date 12 грудня 2019
						h6.news-title Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla officiis totam nostrum enim necessitatibus? Deleniti veniam odio amet facilis. Error suscipit odio iste quia facilis ea dolorum sequi, at sunt!
						p.news-description Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat recusandae vel dolore enim, eveniet qui nesciunt? Tenetur, nostrum voluptatum nulla blanditiis numquam ullam fugit quae expedita voluptatem dignissimos autem provident!
					a.news-item.col-xl-3.col-lg-4.col-md-6.col-sm-6.col-xs-12.animated.fadeIn(href="post", data-id='7')
						span.news-date 12 грудня 2019
						h6.news-title Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi possimus ad quasi culpa exercitationem necessitatibus voluptatem fugiat ratione nulla, nesciunt at, neque eum sunt, asperiores iusto ducimus. Libero, cum earum.
						p.news-description Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia cumque non dolorem, laborum, incidunt molestiae omnis molestias cum quisquam voluptatum dolores deleniti quibusdam ipsum illum eius placeat ad architecto! Neque?
					a.news-item.col-xl-3.col-lg-4.col-md-6.col-sm-6.col-xs-12.animated.fadeIn(href="post", data-id='8')
						span.news-date 12 грудня 2019
						h6.news-title Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus recusandae eligendi dolorum! Aperiam sit vitae soluta voluptates dignissimos, explicabo animi autem, recusandae ipsam, perspiciatis consectetur labore vel dolore. Natus, eligendi!
						p.news-description Lorem ipsum dolor sit amet consectetur adipisicing elit. Error dolore repudiandae recusandae quia, consequuntur eaque amet voluptas in qui vitae deleniti, fuga minima. Perferendis, nisi dolorem officia quo voluptatibus vel.
					a.news-item.col-xl-3.col-lg-4.col-md-6.col-sm-6.col-xs-12.animated.fadeIn(href="post", data-id='9')
						span.news-date 12 грудня 2019
						h6.news-title Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore quasi, veritatis corporis obcaecati culpa, officia rerum ducimus aliquam voluptates dicta id, exercitationem modi. Accusamus possimus recusandae impedit fugit. Ut, quidem!
						p.news-description Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione ipsa neque inventore necessitatibus sed itaque veritatis fuga natus corrupti, officia similique recusandae quisquam ipsam id? Iure deleniti ea vel dolore.
					a.news-item.col-xl-3.col-lg-4.col-md-6.col-sm-6.col-xs-12.animated.fadeIn(href="post", data-id='10')
						span.news-date 12 грудня 2019
						h6.news-title Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla officiis totam nostrum enim necessitatibus? Deleniti veniam odio amet facilis. Error suscipit odio iste quia facilis ea dolorum sequi, at sunt!
						p.news-description Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat recusandae vel dolore enim, eveniet qui nesciunt? Tenetur, nostrum voluptatum nulla blanditiis numquam ullam fugit quae expedita voluptatem dignissimos autem provident!
					a.news-item.col-xl-3.col-lg-4.col-md-6.col-sm-6.col-xs-12.animated.fadeIn(href="post", data-id='11')
						span.news-date 12 грудня 2019
						h6.news-title Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi possimus ad quasi culpa exercitationem necessitatibus voluptatem fugiat ratione nulla, nesciunt at, neque eum sunt, asperiores iusto ducimus. Libero, cum earum.
						p.news-description Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia cumque non dolorem, laborum, incidunt molestiae omnis molestias cum quisquam voluptatum dolores deleniti quibusdam ipsum illum eius placeat ad architecto! Neque?
					a.news-item.col-xl-3.col-lg-4.col-md-6.col-sm-6.col-xs-12.animated.fadeIn(href="post", data-id='12')
						span.news-date 12 грудня 2019
						h6.news-title Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus recusandae eligendi dolorum! Aperiam sit vitae soluta voluptates dignissimos, explicabo animi autem, recusandae ipsam, perspiciatis consectetur labore vel dolore. Natus, eligendi!
						p.news-description Lorem ipsum dolor sit amet consectetur adipisicing elit. Error dolore repudiandae recusandae quia, consequuntur eaque amet voluptas in qui vitae deleniti, fuga minima. Perferendis, nisi dolorem officia quo voluptatibus vel.
				.animatedParent.animateOnce(data-sequence='200')
					ul.pagination.animated.fadeIn(role="navigation", data-id='1')
						li.page-item
							span.page-link(aria-hidden="true") ‹
						li.page-item.active(aria-current="page")
							span.page-link 1
						li.page-item
							a.page-link(href="javascript:void(0);") 2
						li.page-item
							a.page-link(href="javascript:void(0);") 3
						li.page-item
							a.page-link(href="javascript:void(0);") 4
						li.page-item
							a.page-link(href="javascript:void(0);") ›