//-
	Terms of Use page markup for the UaPay website project
	Version: 1.0
	Created: 10.12.2019
	Author: Serhii Tiutin
	Modified by: Serhii Tiutin
	Owner: UaPay
	Website: https://uapay.ua/

extends layouts/_layout.pug

block meta-data
	+meta-data(
	'Website title', 
	'Website description', 
	'https://uapay.ua/terms-of-use'
	)

block header
	+header('black-header')

block mobile-menu
	+mobile-menu('mobile-menu-black')

block main-content
	.inner-page-wrapper.text-page
		.intro-block.black-intro-block
			.container.main-container
				h3 Умови надання сервісу
		.text-page-content
			.container.main-container
				h5.text-center.pt0 Публічний договір про надання фінансових послуг з переказу коштів
				p.pb0
					b Товариство з обмеженою відповідальністю 
						q Фінансова компанія ЮАПЕЙ
					|  (далі за текстом – 
					q Фінансова компанія
					| ), що діє на підставі ліцензії Національного банку України на переказ коштів без відкриття рахунків від 09 грудня 2015 року №30, в особі директора Зараховича Анатолія Йосиповича, який діє на підставі Статуту, з однієї сторони, та КОРИСТУВАЧ – Платник та/або Отримувач переказу коштів, разом іменуються – 
					q Сторони
					| , а кожний окремо – 
					q Сторона
					| , уклали даний Публічний договір про надання фінансових послуг з переказу коштів (далі за текстом – 
					q Договір
					| ) про нижченаведене.
				h5 Терміни та визначення
				p Терміни, що застосовуються в цьому Договорі, вживаються у такому значенні:
				ul.pb0
					li
						b: q Електронний платіжний засіб
							|  (далі за текстом – 
							q ЕПЗ
							| )
						|  – платіжний інструмент (платіжна картка тощо), який надає його держателю можливість за допомогою Платіжного пристрою отримати інформацію про належні держателю кошти та ініціювати їх переказ.
					li
						b: q Верифікація Користувача
						|  - встановлення (підтвердження) Фінансовою компанією як суб’єктом первинного фінансового моніторингу відповідності особи Користувача (представника Користувача) отриманим від нього ідентифікаційним даним. Верифікація Користувача проводиться Фінансовою компанією у випадках та порядку визначеними Законом України 
						q Про запобігання та протидію легалізації (відмиванню) доходів, одержаних злочинним шляхом, фінансуванню тероризму та фінансуванню розповсюдження зброї масового знищення
						| .
					li
						b: q Запит
						|  - доручення Користувача щодо переказу безготівкових коштів зі свого рахунку із застосуванням ЕПЗ на підставі введеної Користувачем інформації, яке подається Фінансовій компанії в електронній формі за допомогою програмного забезпечення Фінансової компанії.
					li
						b: q Ідентифікація Користувача
						|  - отримання Фінансовою компанією як суб’єктом первинного фінансового моніторингу від Користувача (представника Користувача) ідентифікаційних даних. Ідентифікація Користувача проводиться Фінансовою компанією у випадках та порядку визначеними Законом України 
						q Про запобігання та протидію легалізації (відмиванню) доходів, одержаних злочинним шляхом, фінансуванню тероризму та фінансуванню розповсюдження зброї масового знищення
						| .
					li
						b: q Користувач
						|  - Платник та/або Отримувач переказу коштів.
					li
						b: q Отримувач
						|  – фізична особа, юридична особа або фізична особа-підприємець, на рахунок якої зараховується сума переказу або яка отримує суму переказу готівкою (виключно фізична особа).
					li
						b: q Платіжна система
						|  − платіжна організація, учасники платіжної системи та сукупність відносин, що виникають між ними при проведенні переказу коштів. Проведення переказу коштів є обов’язковою функцією, що має виконувати платіжна система.
					li
						b: q Переказ коштів
						|  − рух певної суми коштів, що ініційований Платником, з метою зарахування цієї суми на рахунок Отримувача або видачі суми переказу готівкою (виключно фізична особа).
					li
						b: q Платіжний пристрій
						|  – програмно-технічний пристрій (платіжний термінал, ПТКС, Сайт, комп’ютери та коп’ютеризовані гаджети (смартфони, iPad тощо)), що дає змогу Платнику здійснити операції з ініціювання переказу коштів, а також виконати інші операції, згідно з функціональними можливостями такого пристрою.
					li
						b: q Платник
						|  – фізична особа, яка ініціює переказ безготівкових коштів із застосуванням ЕПЗ відповідно до поданого Користувачем Запиту та/або з використанням Реєстру виплат на користь Отримувача.
					li
						b: q Реєстр виплат
						|  - інформаційне повідомлення подане Платником Фінансовій компанії за допомогою будь-якого каналу взаємодії, як-то, але не виключно: з використанням особистого кабінету Платника через Сайт, мобільний додаток, інші ресурси, що забезпечують відповідну функціональність, який містить одне або більше доручень здійснити переказ коштів на користь Отримувачів. Кожне доручення на переказ у Реєстрі виплат містить достатню інформацію для здійснення переказу Отримувачу (дані Отримувача, необхідні для виконання переказу).
					li
						b: q Сайт
						|  - Національний платіжний сервіс UAPAY (
						a(href="https://uapay.ua/") uapay.ua
						|) – інтернет-сайт, який об’єднує сукупність файлів та прикладне програмне забезпечення, призначене для здійснення операцій з переказу коштів в мережі Інтернет та відповідає вимогам безпеки даних встановлених PCІ DSS (Payment Card Industry Data Security Standard).
					li Всі інші терміни, зазначені у цьому Договорі вживаються у значеннях наведених у Законі України 
						q Про платіжні системи та переказ коштів в Україні
						| , інших нормативно-правових актах законодавства, правилах платіжних систем.
				h5 1. Загальні положення
				p
					b 1.1.
					|  Цей Договір регулює відносини між Фінансовою компанією та Користувачами щодо надання останнім фінансових послуг з переказу коштів. Умови даного Договору є однакові для всіх Користувачів.
				p
					b 1.2.
					|  Договір підписується уповноваженим представником Фінансової компанії та є публічною пропозицією Фінансової компанії до невизначеного кола Користувачів стосовно укладення Договору. Приєднання Користувача до Договору відбувається в цілому, Користувач не може запропонувати Фінансовій компанії свої умови Договору.
				p
					b 1.3.
					|  Офіційне оприлюднення Договору з метою ознайомлення Користувачів з його змістом здійснюється Фінансовою компанією шляхом розміщення тексту Договору на Сайті, мобільному додатку, або інших ресурсах, що забезпечують відповідну функціональність.
				p
					b 1.4.
					|  Приєднання Користувача до Договору здійснюється шляхом акцепту Договору. Акцептувати Договір має право будь-який Користувач. Перед приєднанням до Договору Користувач зобов’язаний ознайомитися з його умовами. Якщо Користувач не згодний з умовами Договору, він не вправі вчиняти дії, спрямовані на його укладення та виконання.
				p
					b 1.5.
					|  Факт здійснення акцепту Договору розглядається Сторонами як прийняття Користувачем пропозиції Фінансової компанії укласти Договір. Здійсненням акцепту Договору Користувач підтверджує своє ознайомлення та повну, безумовну і остаточну згоду з усіма умовами Договору, а також своє волевиявлення стосовно приєднання до Договору.
				p
					b 1.6.
					|  Фіксація акцепту Договору здійснюється Фінансовою компанією в електронному вигляді і зберігається в апаратно-програмному комплексі Фінансової компанії. Сторони погоджуються, що витяги з апаратно-програмного комплексу Фінансової компанії можуть використовуватись як докази при розгляді спорів, у тому числі в судовому порядку.
				p
					b 1.7.
					|  Акцептування Договору здійснюється Користувачем шляхом вчинення однієї будь-якої або сукупності наступних дій:
				ul.pb0
					li первісна реєстрація у якості Користувача, запит про яку подається Фінансовій компанії програмно-технічним шляхом через Сайт, мобільний додаток, інші ресурси, що забезпечують відповідну функціональність. Направленням запиту про первісну реєстрацію, Користувач тим самим підтверджує, що володіє необхідною дієздатністю та правоздатністю та приймає умови Договору;
					li ініціювання Користувачем операції з переказу коштів із застосуванням ЕПЗ відповідно до поданого Користувачем Запиту та/або з використанням Реєстру виплат.
					li натиснення Користувачем на Сайті, мобільному додатку, іншому ресурсі, що забезпечує відповідну функціональність графічно оформленого посилання у вигляді кнопки з надписом, на кшталт 
						q Переказати
						| , що свідчить про погодження Користувача з умовами даного Договору.
				h5 2. Предмет договору
				p
					b 2.1.
					|  За цим Договором Фінансова компанія за дорученням Користувача здійснює операції з переказу коштів у повній відповідності до Закону України 
					q Про платіжні системи та переказ коштів в Україні
					| , Закону України 
					q Про фінансові послуги та державне регулювання ринків фінансових послуг
					| , Закону України 
					q Про запобігання та протидію легалізації (відмиванню) доходів, одержаних злочинним шляхом, фінансуванню тероризму та фінансуванню розповсюдження зброї масового знищення
					| , інших законодавчих актів України та нормативно-правових актів Національного банку України.
				p
					b 2.2.
					|  Фінансова компанія відповідно до отриманих дозвільних документів, здійснює виключний вид діяльності – надання фінансових послуг з переказу коштів. Правовідносини за результатом переказу коштів виникають, змінюються та припиняються виключно між Платником та Отримувачем. Фінансова компанія є відповідальною лише за прийом грошових коштів від Платника та переказ отриманих коштів на користь Отримувача.
				p
					b 2.3.
					|  Надання Фінансовою компанією фізичним особам - Платникам фінансових послуг з переказу коштів, здійснюється виключно на умовах цього Договору для особистих потреб, не пов’язаних із здійсненням Платниками підприємницької діяльності.
				p
					b 2.4.
					|  Фінансова компанія за даним Договором надає Користувачам наступні послуги з переказу коштів виключно у національній валюті України та у межах України:
				ul
					li Переказ безготівкових коштів із застосуванням ЕПЗ від фізичної особи на користь фізичної особи, з видачею суми переказу готівкою фізичній особі або із зарахуванням суми переказу на рахунок юридичної особи, фізичної особи-підприємця, фізичної особи.
					li Переказ безготівкових коштів від Платника, який доручає Фінансовій компанії здійснювати переказ коштів з використанням Реєстру виплат на користь Отримувачів (фізичної особи, юридичної особи та фізичної особи – підприємця) із зарахуванням суми переказу на їх рахунок (відкритий у будь-якому банку в Україні) або з видачею суми переказу готівкою виключно фізичній особі.
					li Переказ безготівкових коштів від Платника, який доручає Фінансовій компанії здійснювати переказ коштів з використанням Реєстру виплат на користь Отримувача (фізичної особи) із зарахуванням суми переказу за реквізитами ЕПЗ. При ініціюванні переказу коштів з використанням Реєстру виплат, Платник перераховує на користь Фінансової компанії суму коштів, якої буде достатньо для виконання переказу коштів згідно поданого Платником Реєстру виплат.
				p.pb0
					b 2.5.
					|  Надання Користувачам послуг з переказу коштів обумовлених даним Договором здійснюється Фінансовою компанією за допомогою Внутрішньодержавної платіжної системи переказу коштів 
					q ЮАПЕЙ
					|  (Свідоцтво про узгодження Правил Внутрішньодержавної платіжної системи переказу коштів 
					q ЮАПЕЙ
					|  видано Національним банком України за № 42 від 11 червня 2019р.), Платіжною організацією якої є ТОВАРИСТВО З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ 
					q ФІНАНСОВА КОМПАНІЯ ЮАПЕЙ
					| . Розрахунковим банком Внутрішньодержавної платіжної системи переказу коштів 
					q ЮАПЕЙ
					|  є АКЦІОНЕРНЕ ТОВАРИСТВО 
					q ЄВРОПЕЙСЬКИЙ ПРОМИСЛОВИЙ БАНК
					| .
				h5 3. Порядок надання послуг
				p
					b 3.1.
					|  На встановлених даним Договором умовах Фінансова компанія виконує доручення Користувача щодо здійснення операції з переказу безготівкових коштів, ініційованого із застосуванням ЕПЗ відповідно до поданого Користувачем Запиту та/або з використанням Реєстру виплат, а Користувач зобов’язується оплатити надані Фінансовою компанією послуги.
				p
					b 3.2.
					|  Формування Запиту та/або Реєстру виплат, з урахуванням визначених Користувачем параметрів доручення щодо переказу коштів, може здійснюватися засобами апаратно-програмного комплексу Фінансової компанії із наданням Користувачеві для ознайомлення.
				p
					b 3.3.
					|  Фінансова компанія до початку проведення операції з переказу коштів доводить до відома Користувача інформацію про розмір належної Фінансовій компанії комісійної винагороди за надання фінансової послуги з переказу коштів, інші істотні умови надання фінансових послуг з переказу коштів, у тому числі інформації передбаченої ст. 12 Закону України 
					q Про фінансові послуги та державне регулювання ринків фінансових послуг
					| .
				p
					b 3.4.
					|  Вчинення Користувачем дій, що свідчать про підтвердження сформованого Запиту та/або Реєстру виплат, є дорученням Користувача поданим Фінансовій компанії щодо здійснення операції з переказу коштів за параметрами, що містяться у такому Запиті та/або Реєстрі виплат з урахуванням належної Фінансовій компанії комісійної винагороди.
				p
					b 3.5.
					|  Відповідальність за правильність параметрів, що містяться у Запиті та/або Реєстрі виплат несе Платник, яким було вчинено підтвердження доручення щодо здійснення операції з переказу коштів за такими параметрами. Фінансова компанія не несе відповідальності за помилки, допущені Користувачем при формуванні Запиту та/або Реєстру виплат, в т.ч. за ті, що призвели до виконання доручення Користувача щодо переказу коштів у некоректному розмірі або за некоректними реквізитами. У зазначених випадках фінансова послуга вважається наданою Користувачу належним чином і в повній відповідності із умовами Договору. Платник та Отримувач мають самостійно врегулювати подальші взаєморозрахунки без участі Фінансової компанії.
				p
					b 3.6.
					|  За результатом проведення операції з переказу коштів, Фінансова компанія засобами апаратно-програмного комплексу Фінансової компанії формує відповідне підтвердження, яке надається Користувачу, за його вимогою, у електронному вигляді за допомогою дистанційних засобів зв’язку, обраних Користувачем, як-то, але не виключно: шляхом відображення у відповідному інтерфейсі Сайту, мобільного додатку, інших ресурсів, що забезпечують відповідну функціональність, направлення на електронну адресу, SMS повідомлення, інформування за допомогою месенджерів тощо.
				p
					b 3.7.
					|  Фінансова компанія виконує переказ коштів на користь Отримувача у строк не більше трьох операційних банківських днів з моменту ініціювання Платником переказу, якщо інший строк не узгоджений у відповідній угоді між Фінансовою компанією та Користувачем.
				p.pb0
					b 3.8.
					|  У випадку, якщо в сформованих Платниками Запитах та/або в Реєстрах виплат співпадають реквізити Отримувачів, Фінансова установа має право здійснювати перерахування коштів на користь таких Отримувачів загальною сумою з формуванням звіту з розшифровкою Платників, який надається Отримувачу, за його вимогою, у електронному вигляді за допомогою дистанційних засобів зв’язку, обраних Отримувачем, як-то, але не виключно: шляхом відображення у відповідному інтерфейсі Сайту, мобільного додатку, інших ресурсів, що забезпечують відповідну функціональність, направлення на електронну адресу, SMS повідомлення, інформування за допомогою месенджерів тощо.
				h5 4. Права та обов’язки фінансової компанії
				p
					b 4.1.
					|  Фінансова компанія має право.
				ul
					li Відмовити Користувачу в наданні фінансових послуг в наступних випадках:
						ol
							li ненадання Користувачем передбачених законодавством відомостей та/або необхідних документів.
							li виявлення в ініційованих Користувачем операціях, ознак операції, що носить шахрайський характер, або несе репутаційні ризики для Фінансової компанії.
							li у випадках та в порядку визначеними Законом України 
								q Про запобігання та протидію легалізації (відмиванню) доходів, одержаних злочинним шляхом, фінансуванню тероризму та фінансуванню розповсюдження зброї масового знищення
								| .
					li Вводити будь-які інші обмеження пов’язані зі зменшенням ризиків здійснення незаконних операцій в результаті надання фінансових послуг.
					li Розірвати цей Договір в односторонньому порядку відповідно до визначених умов.
					li Залучати, та укладати з третіми особа договори, які не заборонені діючим законодавством, з метою виконання Фінансовою компанією покладених на неї функцій за цим Договором.
				p
					b 4.2.
					|  Фінансова компанія зобов’язана.
				ul.pb0
					li Надавати Користувачам фінансові послуги з переказу коштів у повній відповідності до приписів чинного законодавства України.
					li Перед початком проведення операції з переказу коштів надавати Користувачу інформацію стосовно розміру належної Фінансовій компанії комісійної винагороди та інших істотних умов надання фінансових послуг з переказу коштів, у тому числі інформацію передбачену ст. 12 Закону України 
						q Про фінансові послуги та державне регулювання ринків фінансових послуг
						| .
					li За результатом надання фінансових послуг з переказу коштів надавати Користувачу, за його вимогою, відповідне підтвердження проведеної операції у електронному вигляді за допомогою дистанційних засобів зв’язку, обраних Користувачем.
					li Забезпечувати належне зберігання отриманої від Користувача під час виконання цього Договору інформації, у тому числі персональних даних.
					li Вживати заходів щодо забезпечення захисту інформації при виконанні переказу коштів у повній відповідності до приписів чинного законодавства України.
					li Забезпечити інформаційну підтримку Користувачів щодо умов та порядку надання фінансових послуг за допомогою служби підтримки з використанням засобів зв’язку та згідно графіку наведених на Сайті. При цьому, Фінансова компанія залишає за собою право відмовити Користувачу у наданні інформаційної підтримки у випадку некоректної поведінки Користувача або наявності інших ознак, що свідчать про зловживання Користувача.
				h5 5. Права та обов’язки користувача
				p
					b 5.1.
					|  Користувач має право.
				ul
					li Користуватися всіма видами фінансових послуг, які пропонуються Фінансовою компанією за цим Договором.
					li Звертатися до Фінансової компанії за отриманням роз’яснень з питань надання фінансових послуг з переказу коштів.
				p
					b 5.2.
					|  Користувач зобов’язаний.
				ul.pb0
					li При здійсненні операцій дотримуватись вимог чинного законодавства України та умов цього Договору.
					li Здійснювати оплату комісійної винагороди Фінансової компанії за надання фінансових послуг з переказу коштів.
					li Якщо Користувач скористався послугами Фінансової установи, його згода на оплату комісійної винагороди та підтвердження доведення до його відому усіх істотних умов надання фінансових послуг з переказу коштів, у тому числі інформації передбаченої ст. 12 Закону України 
						q Про фінансові послуги та державне регулювання ринків фінансових послуг
						|  презумується.
				h5 6. Відповідальність сторін
				p
					b 6.1.
					|  Фінансова компанія несе перед Користувачем відповідальність пов’язану з належним виконанням переказу коштів у відповідності до Закону України Закону України 
					q Про платіжні системи та переказ коштів в Україні
					| .
				p
					b 6.2.
					|  Користувач несе відповідальність за достовірність вказаних ним параметрів, на підставі яких формується Запит та/або Реєстр виплат суті операції, за якою здійснюється цей переказ у відповідності до приписів чинного законодавства України.
				p.pb0
					b 6.3.
					|  У випадку визнання банківськими установами або відповідними платіжними організаціями операцій з переказу коштів здійснених Фінансовою компанією при наданні Користувачу фінансових послуг у визначеному даним Договором порядку, такою, що носить ознаки шахрайської або недійсної операції, Користувач зобов’язується відшкодувати Фінансовій компанії усі збитки, а також штрафні санкції, що будуть застосовані до Фінансової компанії за результатом виконання даного Договору. Сторони цим погоджуються, що достатнім підтвердженням шахрайського характеру та/або недійсності проведених операцій, є одержані Фінансовою компанією в будь-якому вигляді (у тому числі в електронному вигляді) заяви/повідомлення/підтвердження банківських установ або МПС, а підтвердженням понесених Фінансовою компанією збитків є відповідні розрахункові або первинні документи, що свідчать про сплату або утримання відповідних сум за такими шахрайськими та/або недійсними операціями.
				h5 7. Запевнення та гарантії
				p
					b 7.1.
					|  Фінансова компанія та Користувач засвідчують однакове розуміння ними умов Договору та його правових наслідків, підтверджують дійсність їх намірів при його укладанні, а також те, що Договір не містить ознак фіктивного або удаваного правочину, що він не укладений під впливом помилки щодо його природи, прав та обов’язків Сторін, а також під впливом обману чи збігу тяжких обставин.
				p
					b 7.2.
					|  Шляхом приєднання до Договору Користувач заявляє та гарантує наступне:
				ul.pb0
					li користувач має необхідний обсяг дієздатності та правоздатності для укладення та виконання Договору;
					li користувач виконав усі дії, необхідні для укладення та виконання Договору, а також виконання своїх обов’язків за Договором;
					li прийняття умов Договору (приєднання до нього) Користувачем у спосіб, визначений Договором, є повним і беззастережним та означає згоду Користувача зі всіма умовами Договору без виключення і доповнення.
				h5 8. Порядок розгляду спорів
				p
					b 8.1.
					|  Усі спори між Сторонами цього Договору, що виникають з приводу укладення, виконання та (або) розірвання цього Договору, вирішуються Сторонами у відповідності до приписів чинного законодавства України.
				p
					b 8.2.
					|  Фінансова компанія цим заявляє та гарантує, що будь яка скарга або претензія Користувача як то усна чи письмова, що може виникнути з цього Договору, буде розглянута Фінансовою компанією. Фінансовою компанією також будуть прийняти всі та будь які необхідні заходи щодо задоволення скарги чи претензії Користувача, якщо така скарга чи претензія буде обґрунтованою.
				p.pb0
					b 8.3.
					|  В разі недосягнення згоди Сторін, спір підлягає передачі на розгляд суду, відповідно до положень чинного законодавства України.
				h5 9. Форс-мажор
				p
					b 9.1.
					|  Сторона звільняється від відповідальності за невиконання умов Договору, якщо доведе, що єдиною безпосередньою причиною такого невиконання є форс-мажор.
				p
					b 9.2.
					|  До подій форс-мажору, зокрема, належить війна, військові дії, незалежно від факту оголошення війни, вторгнення, бунт, повстання, громадянське заворушення, терористичний акт, пожежа, стихійні лиха, дії органів державної влади, які обмежують або унеможливлюють виконання зобов’язань за Договором, або інша подібна подія, що знаходиться поза контролем сторони (далі – 
					q Форс-мажор
					| ).
				p
					b 9.3.
					|  Сторона, яка перебуває під впливом Форс-мажору, зобов’язана вживати всіх розумних та здійсненних заходів для зменшення негативного впливу Форс-мажору на виконання Договору такою Стороною.
				p.pb0
					b 9.4.
					|  Факти існування та тривалості Форс-мажору підтверджуються документами компетентних органів, що уповноважені посвідчувати обставини Форс-мажору відповідно до законодавства України, в тому числі, але не виключно, Торгово-промислової палати України.
				h5 10. Строк дії договору. Зміна умов договору
				p
					b 10.1.
					|  Договір набирає чинності з дня приєднання Користувача до Договору та діє протягом невизначеного строку.
				p
					b 10.2.
					|  Порядок внесення змін до Договору.
				p
					b 10.2.1.
					|  Фінансова компанія має право ініціювати зміни Договору шляхом розміщення оновленої редакції Договору на Сайті, мобільному додатку, іншому ресурсі, що забезпечує відповідну функціональність.
				p
					b 10.2.2.
					|  Розміщення оновленої редакції Договору на Сайті, мобільному додатку, іншому ресурсі, що забезпечує відповідну функціональність, є належним виконанням Фінансовою компанією обов’язку щодо додержання форми та порядку повідомлення Користувача про зміни до Договору. Приєднуючись до Договору, Користувач таким чином висловлює свою згоду з тим, що внесення Фінансовою компанією змін Договору не є односторонньою зміною Договору, не порушує прав і законних інтересів Користувача, не має своїм наслідком істотний дисбаланс договірних прав та обов’язків на шкоду Користувача.
				p
					b 10.2.3.
					|  Зміни до Договору вступають в силу з моменту їх розміщення (оприлюднення) на Сайті мобільному додатку, іншому ресурсі, що забезпечує відповідну функціональність, якщо інший строк вступу в силу не визначений додатково при їх публікації.
				p
					b 10.2.4.
					|  При незгоді Користувача зі змінами умов цього Договору, Користувач повинен припинити користування послугами Фінансової компанії.
				p
					b 10.3.
					|  Порядок розірвання Договору
				p
					b 10.3.1.
					|  Договір може бути розірвано в наступних випадках:
				ul
					li у випадках та порядку, передбачених законодавством України;
					li за ініціативою Фінансової компанії в односторонньому порядку.
				p
					b 10.3.2.
					|  У разі дострокового припинення цього Договору Фінансова компанія зобов’язана розмістити на Сайті, мобільному додатку, іншому ресурсі, що забезпечує відповідну функціональність заяву Фінансової компанії про припинення дії Договору незалежно від підстав розірвання Договору.
				p.pb0
					b 10.3.3.
					|  Договір вважається розірваним з моменту (дати) розміщення на Cайті, мобільному додатку, іншому ресурсі, що забезпечує відповідну функціональність, заяви Фінансової компанії про його розірвання.
				h5 11. Заключні положення
				p
					b 11.1.
					|  Цей Договір укладено українською мовою, умови Договору є публічними та Користувач погоджується з ними.
				p
					b 11.2.
					|  У всьому, що не передбачено цим Договором, Сторони керуються законодавством України.
				p
					b 11.3.
					|  З метою дотримання Закону України 
					q Про захист персональних даних
					|  Користувач, приєднанням до Договору, підтверджує надання Фінансовій компанії беззастережної згоди (дозволу) на обробку своїх персональних даних, зокрема, їх збирання, реєстрацію, накопичення, зберігання, адаптування, зміну (в тому числі за зверненням третіх осіб), поновлення, використання і поширення (розповсюдження, реалізацію, передачу), знеособлення, знищення, у тому числі з використанням інформаційних (автоматизованих) систем, виключно з метою виконання умов цього Договору на строк, що є необхідним та достатнім для виконання Сторонами своїх зобов’язань за Договором і дотримання положень законодавства України, якщо інший строк не передбачений законодавством України, що передбачає у тому числі, але не виключно: отримання Користувачем від Фінансової компанії SMS-повідомлень, дзвінків, електронних листів, повідомлень на Сайті, мобільному додатку, інших ресурсах, що забезпечують відповідну функціональність, а також запис голосового повідомлення/заяви Користувача у разі звернення до служби підтримки тощо.
				p До переліку персональних даних Користувача відносяться такі відомості:
				ul
					li реквізити електронного платіжного засобу;
					li історія усіх транзакцій з переказу коштів;
					li IP-адреси;
					li контактні дані: номер мобільного телефону, адреса електронної пошти;
					li ім’я Користувача та будь-яка додаткова інформація відображена Користувачем за власною ініціативою при ініціюванні операції з переказу коштів у апаратно-програмному середовищі на Сайті, мобільному додатку, або інших ресурсах, що забезпечують відповідну функціональність.
				p У вказаному переліку відсутні чутливі дані (дані, які стосуються персональних даних, що розкривають расове або етнічне походження, політичні погляди, релігійні або філософські переконання або членство в профспілках, генетичні дані, біометричні дані з метою однозначної ідентифікації фізичної особи, дані, які стосуються здоров’я або дані, що стосуються статевої життя або сексуальної орієнтації фізичної особи).
				p
					b 11.4.
					|  Шляхом приєднання до Договору Користувач підтверджує, що надає Фінансовій компанії безвідкличну та безумовну згоду/дозвіл, а Фінансова компанія має право розкрити (передати) будь-яку або всю інформацію стосовно Користувача, у наступних випадках та наступним особам:
				ul
					li банку та іншим юридичним особам у разі, якщо відповідна інформація за Договором, є необхідною для забезпечення Фінансовою компанією виконання своїх обов’язків за цим Договором, а також здійснення Фінансовою компанією фінансових чи інших операцій в ході своєї звичайної діяльності, а також у випадку, якщо вказані особи надають Фінансовій компанії послуги, пов’язані з основною діяльністю Фінансової компанії та повинні бути обізнаними з інформацією, що стосується діяльності Фінансової компанії за Договором;
					li органам державної влади, місцевого самоврядування, іншим установам, органам та організаціям, які відповідно до законодавства України мають право здійснювати перевірки фінансово-господарської та іншої діяльності Фінансової компанії, на підставі їх офіційного запиту та/або в процесі здійснення перевірки фінансово-господарської та іншої діяльності Фінансової компанії.
				p.pb0
					b 11.5.
					|  Інформація, яка підлягає розкриттю відповідно до умов цього Договору, розкривається (передається) Фінансовою компанією в обсязі, необхідному для досягнення цілей, у відповідності до яких вона передається.
				h5 12. Реквізити фінансововї компанії
				p Товариство з обмеженою відповідальністю 
					q Фінансова компанія ЮАПЕЙ
				p Місцезнаходження: 04205, м. Київ, проспект Оболонський, 35
				p п/р № 26502001301523 в АТ 
					q ЄПБ
					|  Код банку 377090
				p Код ЄДРПОУ 39407959, ІПН 394079526540
				p Платник податку на прибуток на загальних підставах
				p Директор
				p.pb0 ____________________________ А.Й. ЗАРАХОВИЧ