//-
	Transfer supply conditions page markup for the UaPay website project
	Version: 1.0
	Created: 10.12.2019
	Author: Serhii Tiutin
	Modified by: Serhii Tiutin
	Owner: UaPay
	Website: https://uapay.ua/

extends layouts/_layout.pug

block meta-data
	+meta-data(
	'Website title', 
	'Website description', 
	'https://uapay.ua/transfer-supply-conditions'
	)

block header
	+header('black-header')

block mobile-menu
	+mobile-menu('mobile-menu-black')

block main-content
	.inner-page-wrapper.text-page
		.intro-block.black-intro-block
			.container.main-container
				h3 Умови надання переказів
		.text-page-content
			.container.main-container
				h5.text-center.pt0 Згода суб’єкта персональних даних
				p Я, користувач Національного платіжного сервісу 
					a(href="https://uapay.ua") uapay.ua
					|, цим документом надаю свою згоду ТОВ 
					q ФК ЮАПЕЙ
					|  (код: 39407959) (надалі – 
					q Власник персональних даних
					|  та/або 
					q Власник
					| ) на обробку (збирання, реєстрацію, накопичення, зберігання, адаптування, зміну, поновлення, використання і поширення (розповсюдження, реалізацію, передачу), знеособлення, знищення) моїх персональних даних з наступною метою:
				ul
					li забезпечення реалізації відносин у сфері надання фінансових послуг та/або забезпечення реалізації відносин з укладення договорів суб’єктами персональних даних з третіми особами, а також провадження іншої діяльності відповідно до статутних документів та законодавства України;
					li виконання умов договорів, що були/будуть укладені між Користувачем та Володільцем або Користувачем з третіми особами за сприяння Володільця, реалізації та захисту прав сторін за укладеними договорами, що передбачає у тому числі, але не виключно: отримання Користувачем від ТОВ 
						q ФК ЮАПЕЙ
						|  SMS-повідомлень, дзвінків, електронних листів, повідомлень на Сайті в аккаунті Користувача, а також запис голосового повідомлення/заяви Користувача у разі звернення до служби підтримки тощо;
					li виконання рішень органів державної влади, судових рішень, вимог законодавства України;
					li з метою реалізації інших повноважень, функцій та обов’язків Володільця, що не суперечать законодавству України.
				p.pb0 Зокрема, надаю свою згоду, на передачу моїх персональних даних третім особам, розпорядникам персональних даних за нижче наведеним переліком – у межах, установлених Законом України 
					q Про захист персональних даних
					| , в тому числі іноземним суб’єктам відносин, пов’язаних з персональними даними, та дозволяю зберігання моїх персональних даних протягом строку, що відповідає меті обробки персональних даних.
				h5 Особи, яким передаються персональні дані
				p За наявності підстав для обробки персональних даних Власник має право поширювати персональні дані, здійснювати їх передачу третім особам, у тому числі за межі України, іноземним суб'єктам відносин, або надавати доступ до них третім особам, зокрема:
				ul.pb0
					li для забезпечення виконання третіми особами своїх функцій або надання послуг Володільцю, зокрема, платіжним системам, банкам, небанківським фінансовим установам, операторам послуг платіжної інфраструктури, аудиторам та іншим контрагентам, якщо такі функції та послуги стосуються діяльності Володільця, здійснюваних ним операцій, або є необхідними для укладання та виконання Володільцем договорів (правочинів), надання Володільцем відповідних послуг Користувачам тощо;
					li при настанні підстав для передачі третім особам персональних даних згідно з законодавством України або відповідно до умов укладених договорів;
					li в інших випадках, передбачених законодавством України та умовами укладених Володільцем договорів, та коли поширення/передача персональних даних є необхідними з огляду на функції, повноваження та зобов’язання Володільця у відповідних правовідносинах.
				h5 Права суб’єкта персональних даних
				p Перелік прав суб’єкта персональних даних визначений ст. 8 Закону України 
					q Про захист персональних даних
					| , яка наголошує, що особисті немайнові права на персональні дані, які має кожна фізична особа, є невід’ємними і непорушними.
				p Зокрема, суб’єкт персональних даних має право:
				ul
					li знати про джерела збирання, місцезнаходження своїх персональних даних, мету їх обробки, місцезнаходження або місце проживання (перебування) володільця чи розпорядника персональних даних або дати відповідне доручення щодо отримання цієї інформації уповноваженим ним особам, крім випадків, встановлених законом;
					li отримувати інформацію про умови надання доступу до персональних даних, зокрема інформацію про третіх осіб, яким передаються його персональні дані;
					li на доступ до своїх персональних даних;
					li отримувати не пізніш як за тридцять календарних днів з дня надходження запиту, крім випадків, передбачених законом, відповідь про те, чи обробляються його персональні дані, а також отримувати зміст таких персональних даних;
					li пред’являти вмотивовану вимогу володільцю персональних даних із запереченням проти обробки своїх персональних даних;
					li пред’являти вмотивовану вимогу щодо зміни або знищення своїх персональних даних будь-яким володільцем та розпорядником персональних даних, якщо ці дані обробляються незаконно чи є недостовірними;
					li на захист своїх персональних даних від незаконної обробки та випадкової втрати, знищення, пошкодження у зв’язку з умисним приховуванням, ненаданням чи несвоєчасним їх наданням, а також на захист від надання відомостей, що є недостовірними чи ганьблять честь, гідність та ділову репутацію фізичної особи;
					li звертатися із скаргами на обробку своїх персональних даних до Уповноважений або до суду;
					li застосовувати засоби правового захисту в разі порушення законодавства про захист персональних даних;
					li вносити застереження стосовно обмеження права на обробку своїх персональних даних під час надання згоди;
					li відкликати згоду на обробку персональних даних;
					li знати механізм автоматичної обробки персональних даних;
					li на захист від автоматизованого рішення, яке має для нього правові наслідки.
				p Цим документом засвідчую, що мене повідомлено про мої права як суб’єкта персональних даних, про включення їх до Бази персональних даних, про мету обробки (збирання) моїх персональних даних та про осіб, яким передаються (можуть передаватися) мої персональні дані, тому не вимагаю окремого письмового повідомлення про зазначені відомості.
				p.pb0 Умови цієї моєї згоди не вимагають окремого повідомлення мене про передачу моїх персональних даних третім особам, розпорядникам персональних даних. Тому прошу не повідомляти мене про передачу моїх персональних даних третім особам, розпорядникам персональних даних, в тому числі іноземним суб’єктам відносин, пов’язаних з персональними даними.
				h5 Підстави для обробки персональних даних
				p Обробка персональних даних здійснюється за згодою фізичних осіб, а також без такої згоди у випадках, визначених ст. 11 Закону України 
					q Про захист персональних даних
					| :
				ul
					li для реалізації Володільцем своїх функцій, прав, обов’язків та повноважень, визначених законодавством України, у т.ч. відповідно до Закону України 
						q Про фінансові послуги та державне регулювання ринків фінансових послуг
						| , Закону України 
						q Про запобігання та протидію легалізації (відмиванню) доходів, одержаних злочинним шляхом, фінансуванню тероризму та фінансуванню розповсюдження зброї масового знищення
						| , тощо;
					li з метою укладення та виконання правочину, стороною якого є суб’єкт персональних даних або який укладено на користь суб’єкта персональних даних чи для здійснення заходів, що передують укладенню правочину на вимогу суб’єкта персональних даних;
					li з метою захисту життєво важливих інтересів суб’єкта персональних даних;
					li у разі необхідності захисту законних інтересів володільців персональних даних, третіх осіб, крім випадків, коли суб’єкт персональних даних вимагає припинити обробку його персональних даних та потреби захисту персональних даних переважають такий інтерес.
				p.pb0 З урахуванням викладеного вбачається, що згода суб’єкта персональних даних не є єдиною підставою для здійснення обробки персональних даних, та відповідно така обробка може проводитися й на інших вищенаведених підставах.