//-
	Website modus operandi page markup for the UaPay website project
	Version: 1.0
	Created: 10.12.2019
	Author: Serhii Tiutin
	Modified by: Serhii Tiutin
	Owner: UaPay
	Website: https://uapay.ua/

extends layouts/_layout.pug

block meta-data
	+meta-data(
	'Загальні вимоги до сайту — UAPAY', 
	'Будь ласка, ознайомтеся з вимогами та політикою UAPAY щодо співпраці з веб-сайтами.', 
	'https://uapay.ua/website-modus-operandi'
	)

block header
	+header('black-header')

block mobile-menu
	+mobile-menu('mobile-menu-black')

block main-content
	.inner-page-wrapper.text-page
		.intro-block.black-intro-block
			.container.main-container
				h3 Порядок роботи з веб-сайтами
		.text-page-content
			.container.main-container
				p Сайт повинен мати SSL-сертифікат безпеки.
				p Повинна бути символіка МПС VISA і MasterCard.
				p Повинно бути зрозуміло, за що приймається платіж, що продається на сайті торговця.
				p Сайт повинен бути робочим, заповненим контентом, робочими внутрішніми посиланнями.
				p Сайт повинен бути викладений в публічний доступ і не запитувати логін / пароль для входу.
				p За наявності особистого кабінету потрібно надати тестовий доступ. Особистий кабінет повинен розташовуватися на тому ж домені, що і основний сайт.
				p Товари / Послуги, що продаються, не повинні суперечити чинному законодавству України;
				p На сайті рекомендовано вказати:
				ul
					li повне фірмове найменування організації;
					li юридична та фактична адреси;
					li телефон і адресу електронної пошти організації, що здійснює продаж товарів і послуг;
					li телефон і адресу електронної пошти служби підтримки клієнтів;
					li договір публічної оферти;
					li правила та умови повернення та обміну товарів;
					li cookie policy;
					li політику конфіденційності.
				p Товари / послуги повинні бути докладно описані: опис має включати характеристики пропонованих товарів і послуг, їх споживчі властивості і ціну.
				p Ціни повинні бути вказані в національній валюті України – гривні.
				p Всі сторінки, які пов'язані з реалізацією товарів, робіт, послуг на сайті інтернет-магазину, повинні перебувати під єдиним доменним ім'ям.
				p Повинна бути вказана інформація про порядок оплати, доставки товару.
				p При невиконанні будь-яких вимог протягом 30 днів з моменту підписання договору на обслуговування, прийом платежів може бути відключений в односторонньому порядку провайдером платежів.
				p Правилами міжнародних платіжних систем VISA і MasterCard заборонена онлайн-торгівля:
				ul.pb0
					li порнографією;
					li тютюновими виробами;
					li лікарськими препаратами за рецептом;
					li товарами, що порушують авторське право і / або інтелектуальну власність.