svg(width='350', height='350', viewBox='0 0 350 350', fill='none', xmlns='http://www.w3.org/2000/svg')
	rect.money-1(width='350', height='350', rx='10', fill='#FF4544')
	path.money-2(fill-rule='evenodd', clip-rule='evenodd', d='M86 143C86 137.477 90.4772 133 96 133H230C235.523 133 240 137.477 240 143V237C240 242.523 235.523 247 230 247H96C90.4772 247 86 242.523 86 237V143ZM96 137C92.6863 137 90 139.686 90 143V237C90 240.314 92.6863 243 96 243H230C233.314 243 236 240.314 236 237V143C236 139.686 233.314 137 230 137H96Z', fill='#FFFFFF')
	path.money-2(fill-rule='evenodd', clip-rule='evenodd', d='M104 155C104 151.686 106.686 149 110 149H218C221.314 149 224 151.686 224 155V225C224 228.314 221.314 231 218 231H110C106.686 231 104 228.314 104 225V214H108V225C108 226.105 108.895 227 110 227H218C219.105 227 220 226.105 220 225V155C220 153.895 219.105 153 218 153H110C108.895 153 108 153.895 108 155V166H104V155ZM108 179.5V200H104V179.5H108Z', fill='#FFFFFF')
	path.money-2(fill-rule='evenodd', clip-rule='evenodd', d='M97 202C97 199.791 98.7909 198 101 198H111C113.209 198 115 199.791 115 202V212C115 214.209 113.209 216 111 216H101C98.7909 216 97 214.209 97 212V202ZM111 202H101V212H111V202Z', fill='#FFFFFF')
	path.money-2(fill-rule='evenodd', clip-rule='evenodd', d='M97 168C97 165.791 98.7909 164 101 164H111C113.209 164 115 165.791 115 168V178C115 180.209 113.209 182 111 182H101C98.7909 182 97 180.209 97 178V168ZM111 168H101V178H111V168Z', fill='#FFFFFF')
	path.money-2(fill-rule='evenodd', clip-rule='evenodd', d='M105.765 243H136.234L134.383 259.663C134.045 262.701 131.477 265 128.42 265H113.58C110.523 265 107.954 262.701 107.617 259.663L105.765 243ZM110.234 247L111.592 259.221C111.705 260.234 112.561 261 113.58 261H128.42C129.439 261 130.295 260.234 130.408 259.221L131.765 247H110.234Z', fill='#FFFFFF')
	path.money-2(fill-rule='evenodd', clip-rule='evenodd', d='M189.765 243H220.234L218.383 259.663C218.045 262.701 215.477 265 212.42 265H197.58C194.523 265 191.954 262.701 191.617 259.663L189.765 243ZM194.234 247L195.592 259.221C195.705 260.234 196.561 261 197.58 261H212.42C213.439 261 214.295 260.234 214.408 259.221L215.765 247H194.234Z', fill='#FFFFFF')
	circle.money-3(cx='164', cy='190', r='19', fill='#DC0705')
	rect.money-3(x='183', y='86', width='70', height='40', rx='2', fill='#DC0705')
	circle.money-2(cx='145', cy='86', r='11', fill='#FFFFFF')
	circle.money-3(cx='265', cy='171', r='11', fill='#DC0705')
	rect.money-2(x='195', y='105', width='70', height='40', rx='2', fill='#FFFFFF')
	circle.money-1(cx='230', cy='125', r='10', fill='#FF4544')
	path.money-2(fill-rule='evenodd', clip-rule='evenodd', d='M204 187C202.343 187 201 188.343 201 190C201 191.657 202.343 193 204 193C205.657 193 207 191.657 207 190C207 188.343 205.657 187 204 187ZM197 190C197 186.134 200.134 183 204 183C207.866 183 211 186.134 211 190C211 193.866 207.866 197 204 197C200.134 197 197 193.866 197 190Z', fill='#FFFFFF')
	rect.money-2(x='192', y='188', width='8', height='4', rx='2', fill='#FFFFFF')
	circle.money-2(cx='159', cy='185', r='4', fill='#FFFFFF')