svg(width='350', height='350', viewBox='0 0 350 350', fill='none', xmlns='http://www.w3.org/2000/svg')
	rect.online-retail-1(width='350', height='350', rx='10', fill='#FF4544')
	path.online-retail-2(fill-rule='evenodd', clip-rule='evenodd', d='M67.6657 238.867C65.346 235.553 67.7168 231 71.7619 231H270.238C274.283 231 276.654 235.553 274.334 238.867L270.124 244.882C267.879 248.089 264.209 250 260.293 250H81.7065C77.7907 250 74.1212 248.089 71.8757 244.882L67.6657 238.867ZM71.7619 235C70.9529 235 70.4787 235.911 70.9426 236.573L75.1526 242.588C76.6496 244.726 79.096 246 81.7065 246H260.293C262.904 246 265.35 244.726 266.847 242.588L271.057 236.573C271.521 235.911 271.047 235 270.238 235H71.7619Z', fill='#FFFFFF')
	path.online-retail-2(fill-rule='evenodd', clip-rule='evenodd', d='M236 136H176.5V132H236C240.418 132 244 135.582 244 140V235H98V208H102V231H240V140C240 137.791 238.209 136 236 136Z', fill='#FFFFFF')
	path.online-retail-2(d='M249 199L258.337 212.346L274.069 208.124L272.642 224.35L287.408 231.228L275.885 242.741L282.775 257.5L266.548 258.913L262.339 274.648L249 265.3L235.661 274.648L231.452 258.913L215.225 257.5L222.115 242.741L210.592 231.228L225.358 224.35L223.931 208.124L239.663 212.346L249 199Z', fill='#FFFFFF')
	rect.online-retail-3(x='176', y='158', width='56', height='33', rx='3', fill='#DC0705')
	path.online-retail-2(fill-rule='evenodd', clip-rule='evenodd', d='M174 100C176.209 100 178 101.791 178 104L178 206C178 208.209 176.209 210 174 210H88C85.7909 210 84 208.209 84 206L84 104C84 101.791 85.7909 100 88 100L174 100ZM174 206L174 104L88 104L88 206H174Z', fill='#FFFFFF')
	path.online-retail-2(fill-rule='evenodd', clip-rule='evenodd', d='M131 77C119.954 77 111 85.9543 111 97V110C111 111.105 110.105 112 109 112C107.895 112 107 111.105 107 110V97C107 83.7452 117.745 73 131 73C144.255 73 155 83.7452 155 97V110C155 111.105 154.105 112 153 112C151.895 112 151 111.105 151 110V97C151 85.9543 142.046 77 131 77Z', fill='#FFFFFF')
	circle.online-retail-2(cx='232', cy='144', r='3', fill='#FFFFFF')
	circle.online-retail-3(cx='223', cy='144', r='3', fill='#DC0705')
	circle.online-retail-3(cx='214', cy='144', r='3', fill='#DC0705')
	rect.online-retail-3(x='104', y='132', width='54', height='23', rx='3', fill='#DC0705')
	rect.online-retail-2(x='148', y='238', width='38', height='3', rx='1.5', fill='#FFFFFF')
	path.online-retail-2(d='M109.5 144L112.014 147.593L116.249 146.457L115.865 150.825L119.84 152.677L116.738 155.776L118.593 159.75L114.224 160.13L113.091 164.367L109.5 161.85L105.909 164.367L104.776 160.13L100.407 159.75L102.262 155.776L99.1595 152.677L103.135 150.825L102.751 146.457L106.986 147.593L109.5 144Z', fill='#FFFFFF')