@media screen and (max-width: 550px)

	.home-page
		.solutions-block
			.main-container
				.block-top-half
					.flex-left
						h5
							text-align: center
				.block-bottom-half-mobile
					justify-content: center
					.svg-wrapper
						width: 280px
						height: 280px
						margin-bottom: 15px
						svg
							width: 280px
							height: 280px
						&:last-child
							margin-bottom: 0px